<div>
    On se retrouve au
    <a href="https://maps.app.goo.gl/Mx6Q4ibm1qYnkJZq5" t>Domaine de Vautrait</a
    >. Installation dans les gites pour ceux qui restent dormir sur place.
    <br />Jeux en plein air et boissons fraîches en attendant le début des
    festivités.
</div>
