<div
    id="infos"
    class="w-full flex flex-col items-center fade-in"
    data-fade-in-target="element"
>
    <div class="container_with_padding" id="place">
        <h2 class="typo-h2">Infos utiles</h2>
        <ul>
            <li>
                Les enfants de 3 à 10 ans, auront une baby sitter pour s'occuper
                d'eux pendant la soirée.
            </li>
            <li>
                Pas de dresscode : on vous laisse choisir vos plus belles tenues
                !
            </li>
            <li>
                Un logement sur place dans des gîtes est possible dans la limite
                des places disponibles avec une participation de 40€ par
                personne. <br />
                Il est également possible de camper sur place. <br />Merci de
                nous indiquer au plus-vite vos préférences d'hébergement.
            </li>
        </ul>
    </div>
</div>
