<turbo-frame id="confirmation-form" data-turbo="true" class="fade-in" data-fade-in-target="element">
  <div class="w-full flex flex-col items-center">
      <div class="container_with_padding" id="confirmation">
        <h2 class="typo-h2">Je confirme ma venue et mon hébergement</h2>
        <div class="shadow-lg rounded bg-white p-4 mb-8">
          <div class="card-body">
            <p>
              Le mariage est passé !
            </p>
          </div>
        </div>
      </div>
    </div>
    {% if message is defined and type is defined %}
      {{ component('Toast', {'message': message, 'type': type})}}
    {% endif %}
  </turbo-frame>
