<turbo-frame
    id="confirmation-form"
    data-turbo="true"
    class="fade-in"
    data-fade-in-target="element"
>
    <div class="w-full flex flex-col items-center">
        <div class="container_with_padding">
            <h2 class="typo-h2">Merci pour votre confirmation</h2>
            <p>On pourra vous envoyer des infos si on en a besoin.</p>
        </div>
    </div>
</turbo-frame>
