@tailwind base;
@tailwind components;
@tailwind/typography;
@tailwind utilities;

body.prose {
    max-width: 100%;
}

details {
    user-select: none;

    & summary svg {
        transform: rotate(90deg);
    }
}

details[open] {
    & summary svg {
        transform: rotate(-90deg);
    }
}

details[open] summary ~ * {
    animation: ease-opacity-t-b 0.5s ease;
}

summary {
    cursor: pointer;
}

svg {
    transition: all 0.3s;
}

summary::-webkit-details-marker {
    display: none;
}

.container_with_padding {
    @apply w-full lg:w-2/3;
    padding: 2rem;
}

.typo-h2 {
    @apply text-3xl font-bold leading-10 mb-4;
}
