<div class="w-full flex flex-col items-center">
    <div class="container_with_padding" id="place">
        <h2 class="typo-h2">Lieu des festivités</h2>
        <img src="{{ asset("img/domaine-vautrait.png") }}" alt="Photo du domaine de Vautrait"/>
        <p>Nous vous donnons rendez-vous au <a href="https://maps.app.goo.gl/Mx6Q4ibm1qYnkJZq5">domaine de Vautrait</a>, dans la commune de Cabanac et Villagrains, à 30 minutes de la Mairie de Bègles</p>
        <div>

        </div>
    </div>
</div>