<div
    id="photos"
    class="w-full flex flex-col items-center fade-in"
    data-fade-in-target="element"
>
    <div class="container_with_padding">
        <h2 class="typo-h2">Photos</h2>
        <p>Bien évidemment, il n'y a pas encore de photos 😃</p>
        <p>
            On t'enverra un lien après le mariage pour que tu puisse les voir
            sans qu'elles soient publiques.
        </p>
    </div>
</div>
